##DSBDA Assignment 2 (Group B)

Sharvin Pharande

TE IT

8022

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
df = pd.read_csv("Heart.csv")

In [ ]:
df.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63.0,1,typical,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,fixed,No
1,2,67.0,1,asymptomatic,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,normal,Yes
2,3,67.0,1,asymptomatic,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,reversable,Yes
3,4,37.0,1,nonanginal,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,normal,No
4,5,41.0,0,nontypical,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,normal,No

In [ ]:
df = df.drop('Unnamed: 0', axis =1)

In [ ]:
df.head()

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63.0,1,typical,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,fixed,No
1,67.0,1,asymptomatic,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,normal,Yes
2,67.0,1,asymptomatic,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,reversable,Yes
3,37.0,1,nonanginal,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,normal,No
4,41.0,0,nontypical,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,normal,No

In [ ]:
df.shape

(303, 14)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Age        302 non-null    float64
 1   Sex        303 non-null    int64
 2   ChestPain  303 non-null    object
 3   RestBP     299 non-null    float64
 4   Chol       301 non-null    float64
 5   Fbs        301 non-null    float64
 6   RestECG    301 non-null    float64
 7   MaxHR      302 non-null    float64
 8   ExAng      302 non-null    float64
 9   Oldpeak    302 non-null    float64
 10  Slope      301 non-null    float64
 11  Ca         298 non-null    float64
 12  Thal       301 non-null    object
 13  AHD        303 non-null    object
dtypes: float64(10), int64(1), object(3)
memory usage: 33.3+ KB

In [ ]:
df = df.dropna()

In [ ]:
df['AHD']=df['AHD'].replace({'Yes':0,'No':1})

In [ ]:
df['ChestPain']=df['ChestPain'].replace({'typical':0,'asymptomatic':1, 'nonanginal':2, 'nontypical':3})

In [ ]:
df['Thal']=df['Thal'].replace({'fixed':0,'normal':1,'reversable':2})

In [ ]:
df.head()

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63.0,1,0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,0,1
1,67.0,1,1,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,1,0
2,67.0,1,1,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,2,0
3,37.0,1,2,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,1,1
4,41.0,0,3,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,1,1

In [ ]:
X = df[['Sex','ChestPain','RestBP','Chol','Fbs','RestECG','MaxHR','ExAng','Oldpeak','Slope','Ca','Thal']]
y = df['AHD']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(285, 12) (228, 12) (57, 12)

In [ ]:
print(y.shape, y_train.shape, y_test.shape)

(285,) (228,) (57,)

In [ ]:
model = LogisticRegression()

In [ ]:
model.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

Model Evaluation

In [ ]:
X_train_prediction = model.predict(X_train)
X_train_accuracy = accuracy_score(X_train_prediction, y_train)
print("Accuracy on training dataset: ", X_train_accuracy)

Accuracy on training dataset:  0.8552631578947368

In [ ]:
X_test_prediction = model.predict(X_test)
X_test_accuracy = accuracy_score(X_test_prediction, y_test)
print("Accuracy on testing dataset: ", X_test_accuracy)

Accuracy on testing dataset:  0.7894736842105263